.html {
	box-sizing: border-box;

	width: 100%;
	min-width: $container--min;
	height: 100%;

	font-size: 62.5%;

	* {
		&,
		&::before,
		&::after {
			box-sizing: inherit;
		}

		&:focus {
			outline: none;
		}
	}
}
